.container {
    text-align: center;
}

.btn {
    border: none;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    outline:none;
}

.btn:hover {
    background-color: rgb(255, 127, 8);
}

.count-display {
    border: 1px solid orange;
    border-radius: 5px;
    padding: 8px 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 16px;

}