.table_container {
    margin-bottom: 10px;
}

.form_container {
    
}

table {
    border: 1px solid #000;
  border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    padding: 5px;
    margin-top: 100px;
  }