body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top {
    margin-bottom: 20px;
}

.input {
    margin-right: 20px;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(100, 237, 225);
    box-shadow: none;
    transition: box-shadow .3s ease;
}

.input:focus {
    outline: none;
    box-shadow: 0px 0px 50px 0 rgb(100, 237, 225);
}

.btn {
    background-color: rgb(100, 237, 225);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: none;
    transition: box-shadow .5s ease;
}

.btn:hover {
    box-shadow: 0px 0px 50px 0 rgb(100, 237, 225);
}

.div {
    color: rgb(255, 4, 4);
    font-size: 30px;
}