.container {
    border: 1px red solid;
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    width: 400px;
    /* padding: 5px; */
}

.ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    text-align: center;
    /* border: 1px solid blue; */
}

.li {
    list-style-type: none;
    font-size: 40px;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid blue;
}

.hide {
    /* display: none; */
    /* opacity: 0%; */
    font-size: 0;
}

.btn {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

/* .card {
    width: 100px;
    height: 100px;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
} */

/* .card:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
} */

/* .card_content {
    display: none;
    font-size: 30px;
    width: 50px;
    border: 1px black solid;
    margin: auto;
    text-align: center;
} */
