.container {
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    padding: 5px;
}

.hide {
    /* display: none; */
    opacity: 0%;
    /* width: 80px; */
    /* height: 80px; */
}

/* .card {
    width: 100px;
    height: 100px;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
} */

/* .card:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
} */

/* .card_content {
    display: none;
    font-size: 30px;
    width: 50px;
    border: 1px black solid;
    margin: auto;
    text-align: center;
} */
